body {background-image: url("h1.jpg");}
  table{
    margin: 0 auto;
    border-spacing: 10px;
    border-radius: 10px;
    padding: 30px;
    border: 2px solid black;
     width:530px;
     height:300px;
  }
  h3{
    font-size: 30px;
    color:FloralWhite;
  }
#firstname {
  border: 1px solid black;
  width:300px;
  height:30px;
}
#pass {
  border: 1px solid black;
  width:300px;
  height:30px;
}
#sm {
  border: 1px solid black;
  width:100px;
  height:30px;
}
td{
  font-size: 20px;
  color:Navy;

}
